# vars Block
export SNOWFLAKE_USER_DBT=DBT_USER
export SNOWFLAKE_ROLE_DBT=DBT_ROLE
export SNOWFLAKE_PASSWORD_DBT=*******
export SNOWFLAKE_WAREHOUSE_DBT=DEEL_WAREHOUSE
export SNOWFLAKE_DATABASE_DBT=DEEL_ANALYTICS
export SNOWFLAKE_ACCOUNT_DBT=pjb00188.us-east-1
